In [1]:
import numpy as np
import re
import matplotlib.pyplot as plt
import pandas as pd
import os

# plot the scattering phase space

In [3]:
df = pd.read_csv("graphene.sps",sep="\s+")

In [4]:
df = df.set_index("k")

In [5]:
a = np.array(df["P+"])
b = np.array(df["P-"])

In [13]:
df["P3"] = (2*a+b)*301**2

In [14]:
df1 = df[df["mode"]==1]
df2 = df[df["mode"]==2]
df3 = df[df["mode"]==3]

In [15]:
df1

      mode         omega            P+        P-            P3
k
1        1  1.097373e-10  4.673697e-16  0.000000  8.468832e-11
2        1  5.922105e-01  8.484970e-01  0.000000  1.537494e+05
3        1  1.187386e+00  4.265669e-01  0.000073  7.730142e+04
4        1  1.788474e+00  2.889011e-01  0.000161  5.236404e+04
5        1  2.398386e+00  2.185257e-01  0.000283  3.962295e+04
...    ...           ...           ...       ...           ...
7697     1  5.263416e+02  1.304816e-02  0.002873  2.624651e+03
7698     1  5.255309e+02  1.303710e-02  0.002930  2.627771e+03
7699     1  5.276881e+02  1.303611e-02  0.002766  2.612772e+03
7700     1  5.287347e+02  1.305546e-02  0.002688  2.609204e+03
7701     1  5.302162e+02  1.303346e-02  0.002612  2.598315e+03

[7701 rows x 5 columns]